# Xcode 관련
xcuserdata/
.DS_Store

# 개인 설정 및 비밀 정보
*.xcconfig

# Objective-C / Swift 관련
*.hmap

# 앱 패키징
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager (SPM)
.build/
# 패키지 관련 파일을 무시하고 싶다면 아래 항목을 활성화하세요.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# .swiftpm

# CocoaPods
# Pods 디렉토리를 무시하고 싶다면 아래 항목을 활성화하세요.
# Pods/
# *.xcworkspace

# Carthage
Carthage/Build/
# Carthage 의존성을 무시하고 싶다면 아래 항목을 활성화하세요.
# Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Cursor
**/buildServer.json
.vscode/*
