<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao2ab6cefb16ac200822530a956ecdf014</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20250409004</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KAKAO_AUTH_APP_KEY</key>
	<string>${KAKAO_AUTH_APP_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>tmap</string>
		<string>maps</string>
		<string>kakaokompassauth</string>
		<string>kakaotalk</string>
	</array>
	<key>NAVER_MAP_CLIENT_ID</key>
	<string>${NAVER_MAP_CLIENT_ID}</string>
	<key>POPPOOL_API_KEY</key>
	<string>${POPPOOL_API_KEY}</string>
	<key>POPPOOL_BASE_URL</key>
	<string>${POPPOOL_BASE_URL}</string>
	<key>POPPOOL_S3_BASE_URL</key>
	<string>${POPPOOL_S3_BASE_URL}</string>
	<key>UIAppFonts</key>
	<array>
		<string>GothicA1-Bold.ttf</string>
		<string>GothicA1-Light.ttf</string>
		<string>GothicA1-Medium.ttf</string>
		<string>GothicA1-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>buildCount</key>
	<string>4</string>
	<key>buildDay</key>
	<string>20250409</string>
</dict>
</plist>
